[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CATAcode"]
	path = CATAcode
	url = https://github.com/knickodem/catacode
[submodule "kfa"]
	path = kfa
	url = https://github.com/knickodem/kfa
